an-ES.ini
ar-SA.ini
az-AZ.ini
ba-RU.ini
bem-ZM.ini
bg-BG.ini
bn-BD.ini
ca-ES.ini
cs-CZ.ini
da-DK.ini
de-DE.ini
el-GR.ini
en-GB.ini
en-US.ini
eo-UY.ini
es-ES.ini
et-EE.ini
eu-ES.ini
fa-IR.ini
fi-FI.ini
fil-PH.ini
fr-FR.ini
gd-GB.ini
gl-ES.ini
he-IL.ini
hi-IN.ini
hr-HR.ini
hu-HU.ini
id-ID.ini
it-IT.ini
ja-JP.ini
kab-KAB.ini
ka-GE.ini
kmr-TR.ini
ko-KR.ini
lo-LA.ini
lt-LT.ini
lv-LV.ini
mn-MN.ini
ms-MY.ini
my-MM.ini
nb-NO.ini
nl-NL.ini
nn-NO.ini
oc-FR.ini
pa-IN.ini
pl-PL.ini
pt-BR.ini
pt-PT.ini
ro-RO.ini
ru-RU.ini
si-LK.ini
sk-SK.ini
sl-SI.ini
sq-AL.ini
sr-CS.ini
sr-SP.ini
sv-SE.ini
szl-PL.ini
ta-IN.ini
th-TH.ini
tl-PH.ini
tr-TR.ini
uk-UA.ini
ur-PK.ini
vi-VN.ini
zh-CN.ini
zh-TW.ini
